*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background: rgb(214, 189, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.musica{
    position: absolute;
    width: 378px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 50px 80px rgba(0, 0, 0.5);
}

.musica .imagem{
    position: relative;
    width: 100%;
    height: 450px;

}

.musica .imagem img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.musica audio{
    width: 100%;
    outline: none;
}



 